html {
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    background-color: #646464;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    background-color: #000;
    width: max-content;
    height: 400px;
    margin: auto;
    border: 6px solid black;
    border-radius: 4px;
}

.display {
    width: 100%;
    background-color: lightgray;
    height: 52px;
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: flex-end;
}

.buttons {
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
}

.numbers, .operations {
    max-width: 400px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
}

.numbers input {
    flex: 1 30%;
    background-color: #7393B3;
}

.operations input {
    flex: 1 75%;
    background-color: #F58A48;
}

#clear {
    background-color: #FF2727;
    width: 36px;
}